body{
    background-color: black;
    user-select: none;
    overflow: hidden;
}

canvas{
    position: relative;
}

.center_div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 250px;
    background: black;
}

h1{
    text-align: center;
    color: white;
}

.password{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: black;
    width: 250px;
    height: 30px;
    border: 1px solid white;
    text-align: center;
    margin: 0;
}

.buttons{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    width: 220px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    background-color: black;
    color: white;
    border: 1px solid white;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

.footer{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: black;
}

@media screen and (max-width: 480px){
    html{
        overflow: hidden;
    }
    canvas{
        width: 100vw;
        height: 100vh;
    }
}